:root {
    /*HEADER HEIGHT*/
    --header-height: 3.5rem;
    /*=============== COLORS ===============*/
    /* Color mode HSL(hue, saturation, lightness)*/
    --black-color: hsl(0, 0%, 5%);
    --black-color-light: hsl(0, 0%, 70%);
    --button-color-alt: hsl(0, 0%, 21%);
    --white-color: hsl(0, 0%, 100%);
    --title-color: hsl(0, 0%, 5%);
    --text-color: hsl(0, 0%, 55%);
    --body-color: hsl(0, 0%, 96%);
    --container-color: #fff;
    --border-color: hsl(0, 0%, 94%);
    --box-shadow: 0 10px 4px hsla(0, 4%, 15%, 0.1);

    /*=============== Font type and typography ===============*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: 'Roboto', sans-serif;
    --second-body-font: 'Syncopate", sans-serif';
    --biggest-font-size: 2.5rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.94rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;

    /*=============== Font weight ===============*/
    --font-weight-small: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
    /*=============== Margins bottom ===============*/
    --mb-0-5: 0.5rem;
    --mb-0-75: 0.75ren;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*=============== z - index ===============*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

/* BASE */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

/* Reusable CSS classes */
.container {
    max-width: 1024px;
    margin-inline: var(--mb-1-5);
}
